body{
 font-family: 'Poppins', sans-serif;
 padding: 0;
 background-color: #eaf0f0;
 
}
                    /* Banner-section-start */
.banner-section{
  background-image: url("img/donate-now.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12%;
}

.banner-main{
  text-align: center;
}

.banner-header{
  font-size: 70px;
  color: white;
 font-weight: bold;
 margin-bottom: 20px;
}

.banner-p{
  font-size: 30px;
  color: white;
  padding:30px 30px;
}

.btn{
  margin-top: 30px;
  font-size: 35px;
  color: white;
  background-color: #ff5959;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid black;

}
                            /* Banner-section-finish */

                     /* Donate- submit-section-start */
  .donate-section{
    text-align: center;
    padding: 0 10% 0 10%;

  }   
  
  .donate-main{
    padding-top: 100px;
    padding-left:200px ;
    padding-right: 200px;
  }

  .donate-header{
    font-size: 50px;
    font-weight: bold;
  }

  .donate-p{
    font-size: 25px;
  }

  .donate-taka{
    display: flex;
    text-align: center;
  }
  
  .taka{
    font-size: 40px;
    margin: 50px auto;
  }

  #default{
    border: 3px solid #ff5959;
    color: #ff5959;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ffeeee;
  }
  .input{
    font-size: 30px;
    border: none;
    padding-bottom: 5px;
    text-align: center;
    background-color: #ebeeee;
  }

  .form{
    padding: 100px 300px;
   
  }
                         /* Donate- submit-section-finish */

                         /* Donate-plan-section-start */
  .donate-plan-section{
    text-align: center;
    padding: 100px 0;
    margin-top: -5%;
  } 
  
  .donate-plan-heading{
    font-size: 60px;
    font-weight: bold;
  }

  .donate-plan-p{
    font-size: 30px;
  }

  .donate-support{
    margin:  5% 10% 1% 10%;
    display: flex;
    text-align: justify;
  }

  .donate-support1{
    background-color: rgb(209, 183, 149);
    width: 430px;
    box-shadow:0px 0px 10px 10px whitesmoke ;
    text-align: center;
    padding: 30px 30px 0px 30px ;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 25px;
    }

    .donate-support1 img{
      width: 20%;
    }

    .donate-support2{
    background-color: rgb(161, 125, 77);
    width: 430px;
   box-shadow:0px 0px 10px 10px whitesmoke ;
    text-align:center;
   padding: 30px 30px 0px 30px ;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 10px;
     margin: 0 25px;
    }

    .donate-support2 img{
      width: 20%;
    }

    .donate-support3{
    background-color: rgba(108, 123, 39, 0.765);
    width: 430px;
    box-shadow:0px 0px 10px 10px whitesmoke ;
    text-align: center;
   padding: 30px 30px 0px 30px ;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 10px;
     margin: 0 25px;
    }

    .donate-support3 img{
      width: 20%;
    }
                         /* Donate-plan-section-finish */

                         /*Extra-section-start */
.video{
  padding: 0 10%;

}

.video h1{
  text-align: center;
  font-size: 50px;
}
                         
.video-main{
  display: flex;
  padding: 50px 0;
}  

.play-video{
  width: 50%;
  text-align: center;
}

.video-doc{
      width: 50%;
    font-size: 24px;
    margin-top: -33px;
    padding: 0 0 0 30px;
}
                         /*Extra-section-finish */


                            /* Updates-section-start*/
  .updates-section{
    text-align: center;
    padding: 50px 0;

  }     
  
  .updates-section h1{
    font-size: 60px;
    font-weight: bold;
    line-height: .5;
    
  }

  .updates-section p{
    font-size: 30px;
  }
  .updates-form{
  background-color: #ffeeee;
  padding: 150px 150px;
  max-width: 40%;
  margin:50px auto;
  }

  .email{
    font-size: 30px;
    background-color: #d9d9d9;
    border: none;
    padding: 12px 12px;
    border-radius: 5px;
    margin-right: -3px;
    border-radius: 8px 0 0 8px;
   
  }

  .submit-btn{
    font-size: 30px;
    background-color: #ff5959;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  
  }
    
                            /* Updates-section-finish */

                            /* Footer-section-start */
  footer{
    text-align: center;
    background-color: #0b0d17;
    padding: 50px 0;
  }                          
  footer h1{
    font-family: 'Pacifico', cursive;
    color: #ff5959;
  }  
  footer p{
    color: white;
  }                        
                            /* Footer-section-finish */